.cast-details {
  margin-top: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cast-list {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 5px;

  flex-wrap: wrap;
  overflow: hidden;
  box-sizing: border-box;
}

.cast-item {
  width: 120px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  text-align: center;

  transition: transform 0.3s;
}

.cast-item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.cast-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.cast-info {
  padding: 10px;
}

.cast-name {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.cast-character {
  color: #666;
  font-size: 0.9em;
}
